@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300;1,400&display=swap");
.container {
  display: flex;
  max-height: calc(100% - 60px);
  flex-direction: column;
  padding: 40px;
}

.container form {
  width: 600px;
  border: 1px solid #eee;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;

  -webkit-box-shadow: 6px -2px 19px 16px rgba(69, 69, 69, 0.75);
  -moz-box-shadow: 6px -2px 19px 16px rgba(69, 69, 69, 0.75);
  box-shadow: 6px -2px 19px 16px rgba(69, 69, 69, 0.75);
}

.container form h2 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  border-bottom: 1px solid #d0d0d0;
  font-family: "Roboto", sans-serif;
  color: #373737;
}

.container form .row {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.container form .row span {
  min-width: 100px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.container form .row input {
  height: 40px;
  width: 100%;
  outline: none;
  padding: 10px;
  font-size: 15px;
}

.container form .row button {
  flex: 1;
  height: 40px;
  background: #8a62ab;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}

.container form .row button:hover {
  background: #9e6fc4;
}
